<div class="map-container">
  <header>
    <img src="/assets/limehome-logo.svg" alt="">
    <img src="/assets/burger.svg" alt="">
  </header>
  <div #map style="width: 100%; height: 100%"></div>
  <div class="map-container__details-items">
    <div class="slider">
      <div class="slides">
        <div class="details-item" *ngFor="let hotel of hotels">
          <div style="display: flex;">
            <div style="flex: 0 0 40%">
              <img class="details-item__image" src="/assets/hotel.png" alt="">
            </div>
            <div>
              <h4 style="margin-top: 0">{{hotel.title}}</h4>
              <div style="color: gray" [innerHTML]="hotel.vicinity"></div>
              <div style="margin-top: 10px">EUR 98</div>
              <div>Designs may vary</div>
            </div>
          </div>
          <button style="height: 40px; background-color: #eb983e; width: 100%; color: #fff; border: none">Book</button>
        </div>
      </div>
    </div>

  </div>
</div>
